$brand-normal: #06121e;
$brand-dark: #040f1a;
$brand-light: #0c2135;

$secondary-normal: #090d11;
$secondary-dark: #06090c;
$secondary-light: #1a1f25;

$neutral-normal: #232224;
$neutral-dark: #06090c;
$neutral-light: #1a1f25;

$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fefbff;

$auxiliary-normal: #d94140;
$auxiliary-dark: #b42b2b;
$auxiliary-light: #d34040;